# MQTT broker configuration (placeholders)

MQTT_BROKER=rpi-001.local #replace with your hostname
MQTT_PORT=8883
MQTT_USER=your_user
MQTT_PW=your_password
MQTT_TOPIC=sensors/#

# Path to TLS CA certificate (placeholder)
CA_CERT_PATH=/etc/mosquitto/certs/ca.crt

# Path to SQLite database
DB_PATH=raspberry_pi/sensor_data.db

# Thingsboardcloud endpoint access token
THINGSBOARD_TOKEN=your_token
